.about-grid,
.portfolio-grid {
    max-width: 960px;
    padding: 1em;
    min-height: 400px;
}

.contact-grid {
    min-height: 200px;
}

/*================================|
              HEADER
|================================*/

.mdl-layout__header--waterfall {
    background: url('http://res.cloudinary.com/av11/image/upload/v1475156018/macbook-606763_1920_khzr4h.jpg') center / cover;
    min-height: 300px;
    height: 40vh;
    box-shadow: 10px 12px 15px rgba(0, 0, 0, .5);
}

.mdl-layout__drawer-button > i {
    color: white;
}

header h3 {
    color: whitesmoke;
    font-weight: bold;
    font-family: "Fredoka One", sans-serif;
    font-size: 3.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    margin: 0;
    padding-top: .275em;
}

.mdl-layout__drawer-button > i {
    font-size: 50px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
}

.mdl-layout__drawer {
    background: rgb(0, 150, 136);;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: whitesmoke;
}

.main-img {
    width: 120%;
    height: 160px;
    margin-left: -20px;
    object-fit: cover;
}

/*================================|
               ABOUT
|================================*/

.about-bg {
    background: #fefefe;
    min-height: 300px;
    transition: background 1.5s;
}

.dark {
    background: #3f3f3f !important;
}

.dark p,
.dark h4,
.dark #skill-button {
    color: #9F9F9F !important;
}

.intro > p {
    padding-top: 1em;
}

.intro > * {
    color: #4f4f4f;
}

#skills {
    height: 0px;
    overflow: hidden;
    transition: all 1s 1.2s;
}

#about-skills,
#about-intro {
    transition: all 1.2s;
    position: relative;
}

#self-description,
#skills-description {
    width: 400px;
    position: absolute;
    transition: opacity 2s 2.3s, transform 2.5s 2s;
    opacity: 0;
    background: rgb(0, 150, 136);
    padding: 1em;
}

#skills-description {
    bottom: 0;
}

#self-description {
    right: -10px;
}

#about-skills .mdl-button--fab {
    margin-left: -25px;
}

.cut-delay {
    transition: opacity .5s, transform .5s !important;
}

#self-description > *,
#skills-description > * {
    color: #3f3f3f !important;
    font-weight: bold;
}

#self-description > p {
    line-height: 2;
}

.mdl-cell--0-offset-desktop #skills-description {
    transform: translateY(325px);
    opacity: 1;
}

.mdl-cell--6-offset-desktop #self-description {
    transform: translateY(-310px);
    opacity: 1;
}

#skills-button {
    cursor: pointer;
    z-index: 1;
}

#skills-button.active ~ #skills {
    height: 250px;
}

#skills-button > i {
    font-size: 2em;
    margin-left: -12px;
    color: dimgray;
}

.mdl-list__item {
    overflow: visible;
    padding: 0;
}

.list-item {
    margin: .5em;
    padding: 0;
    height: 20px;
}

i[class*="devicon"] {
    font-size: 3em;
    height: 35px;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, .5);
    transition: transform .2s, text-shadow .4s;
}

i[class*="devicon"]:hover {
    transform: scale(1.3);
    text-shadow: -4px 4px 7px rgba(0, 0, 0, .5);
}

i[class*="angular"] {
    font-size: 5em;
}

i[class*="mongo"] {
    padding-left: .5em;
}

#about h5 {
    margin: 0;
}

.card-image {
    margin-top: -70px;
}

.about-image {
    width: 150px !important;
    height: 150px;
    border-radius: 50%;
    background: url('../media/images/20150815_193116.jpg') left / cover;
}

.card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

/*================================|
              PORTFOLIO
|================================*/

.portfolio-bg {
    background: #dfdfdf;
    padding-bottom: 2em;
}

.card-wide {
    width: auto;
}

.card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
}

.card-wide > .first {
    background: url('../media/projects/0.png') center / cover;
}

.card-wide > .second {
    background: url('../media/projects/1.jpg') center / cover;
}

.card-wide > .third {
    background: url('../media/projects/2.png') center / cover;
}

.card-wide .mdl-button--icon {
    background-color: #efefef !important;
}

.card-wide .mdl-card__title-text {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    font-family: 'Lobster', sans-serif;
}

.card-image.mdl-card {
    width: 45px;
    min-height: 45px;
}

.card-wide > .mdl-card__actions {
    background: rgb(96, 125, 139);
}

#contact h3,
#portfolio h3 {
    font-family: "Fredoka One", sans-serif;
    color: #3f3f3f;
}

/*================================|
                CONTACT
|================================*/


.social,
.resume {
    position: relative;
}

.social-button,
.resume-button {
    cursor: pointer;
    color: #3f51b5;
}

.fa {
    padding-top: .6em;
}

#contact i {
    color: #4f4f4f;
}

#contact > div {
    text-align: center;
}

/*================================|
              Footer
|================================*/

footer {
    position: relative;
}

.mdl-logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
    bottom: 10px;
}